@model ProjetoPonto.Entity.Problema

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {


    <div class="form-horizontal">
        <h4>Problema</h4>
        <hr />

        @Html.HiddenFor(model => model.IdProblema)

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdOs, new { @class = "control-label col-md-2" })
       <div class="btn-group">
            @Html.DropDownList("IdOs",null, new { @class = "form-control" })
        </div>
             </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdSecao, new { @class = "control-label col-md-2" })
       <div class="btn-group">
            @Html.DropDownList("IdSecao",null, new { @class = "form-control" })
        </div>
             </div>


       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default"  onclick="return validar();" />
          </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index") |
   
    @if (Model.IdProblema != 0)
    {
        @Html.ActionLink("Solucoes", "ListaSolucoes", new { idProblema= Model.IdProblema })
    }
</div>


@if (ViewBag.Erro != null && ViewBag.Erro != "")
{
    <script>
        alert('@Html.Raw(ViewBag.Erro)');
    </script>
}
<script>

    function validar() {

        if ($("#Descricao").val() == "") {
            alert("Descricao é obrigatoria");
            return false;
        }

        return true;
    }

</script>
