@model ProjetoPonto.Entity.Usuario

@{
    ViewBag.Title = "Edit";
}

  <div class="content-section-a">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h4>Cadastro de Usuarios</h4>
                <hr />

        @Html.HiddenFor(model => model.IdUsuario)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-5" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-5" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
            </div>
        </div>

       <div class="form-group">
            @Html.LabelFor(model => model.Senha, new { @class = "control-label col-md-5" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Senha, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdFuncionario, new { @class = "control-label col-md-5" })
         <div class="col-md-3">
            @Html.DropDownList("IdFuncionario",null, new { @class = "form-control" })
        </div>
             </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdEmpresa, new { @class = "control-label col-md-5" })
       <div class="col-md-3">
            @Html.DropDownList("IdEmpresa",null, new { @class = "form-control" })
        </div>
             </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IdPerfil, new { @class = "control-label col-md-5" })
        <div class="col-md-3">
            @Html.DropDownList("IdPerfil",null, new { @class = "form-control" })
        </div>
             </div>

       <div class="form-group">
                    <label class="col-md-5 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <input type="submit" value="Salvar" class="btn btn-primary" onclick="return validar();" />
                    </div>
                </div>
    </div>
}
  <div>
           <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Usuario")'">Voltar</button>
          
        </div>


@if (ViewBag.Erro != null && ViewBag.Erro != "")
{
    <script>
        alert('@Html.Raw(ViewBag.Erro)');
    </script>
}
<script>

    function validar() {

        if ($("#Login").val() == "") {
            alert("Login é obrigatório");
            return false;
        }
        if ($("#Senha").val() == "") {
            alert("Senha é obrigatória");
            return false;
        }
        if ($("#Email").val() == "") {
            alert("Email é obrigatório");
            return false;
        }

        return true;
    }

</script>
