@model ProjetoPonto.Entity.Estado

@{
    ViewBag.Title = "Edit";
}
<div class="content-section-a">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h4>Cadastro de Estados</h4>
                <hr />

        @Html.HiddenFor(model => model.IdEstado)

            <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-5" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
            </div>
        </div>

       <div class="form-group">
                    <label class="col-md-5 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
            <input type="submit" value="Save" class="btn btn-primary"  onclick="return validar();" />
          </div>
        </div>
    </div>
}

<div>
     <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Estado")'">Voltar</button>
</div>

@if (ViewBag.Erro != null && ViewBag.Erro != "")
{
    <script>
        alert('@ViewBag.Erro');
    </script>
}
<script>
    function validar() {
        if ($("#Descricao").val() == "") {
            alert('A descrição é obrigatória');
            return false;
        }
        return true;
    }
</script>
